.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.calculator {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    font-family: sans-serif;
    background: #f9f9f9;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #c4f000;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

#results {
    margin-top: 20px;
    background: #222;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
}